script(type='text/javascript', src='/adminlte/plugins/jQuery/jQuery-2.2.3.min.js')
script(type='text/javascript', src='/adminlte/bootstrap/js/bootstrap.min.js')
script(type='text/javascript', src='/adminlte/dist/js/app.min.js')
script(type='text/javascript', src='/adminlte/dist/js/date.js')
script(type='text/javascript', src='/adminlte/plugins/iCheck/icheck.min.js')
script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')
script(src='/adminlte/plugins/slimScroll/jquery.slimscroll.min.js')
script(src='/adminlte/plugins/fastclick/fastclick.js')
script(src='/adminlte/dist/js/app.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js')
